.header {
    padding: 3mm 5mm;
}

table {
    padding: 1mm 5mm;
}

p {
    padding-left: 6mm
}

data {
    width: 50%;
    padding: 2mm;
}

.left {
    text-align: right;
    padding: 0 2mm;
}

.calc-top {
    text-align: center;
    border-bottom: 1px solid black;
}

.calc-bottom {
    text-align: center;
}