.inputform {
    width: 90vw;
    margin: 0 auto;
  }

  .subform {
    border: 1px solid black;
    border-radius: 1vw;
    margin: 2vh 0;
    padding: 1vh 2vw 1vh;
  }

  .input-left {
    text-align: right;
    margin: 0;
    width: 35%
  }

  .input-right {
    text-align: left;
    margin:0;
    width: 65`%
  }

  h3 {
    margin: -2.5vh auto 0;
    background: white;
    padding: 0 0.5vw;
    width: 16vw;
    text-align: center
}

  .calc-button {
    width: 100%;
    margin: 0 0 4vh 0;
    padding: 1vw 0;
    font-size: 1.25em;
    border-radius: 1vw;
  }

  .user-input {
    margin: 1vh;
    align-content: center;
  }

  .frame-input {
    margin: 1vh;
    align-content: center;
  }

  .user-input input {
    margin: 0 2vw 0 0.5vw;
  }

  .frame-input input {
    margin: 0 2vw 0 0.5vw;
    width: 8vw;
  }

  .title-input {
    width: 90%;
  }

  .input-table {
    padding: 0
  }


  .rev-input {
    width: 3vw;
  }

  span {
    margin: 0;
  }


  