  .beam-form {
    width: 76vw;
    margin: 4vh auto;
    border: 1px solid black;
    border-radius: 1vw;
    padding: 1vh 2vw 1vh;
    align-content: center;
  }

  h3 {
    margin: -2.5vh auto 0;
    background: white;
    padding: 0 0.5vw;
    width: 17vw;
    text-align: center
}

  .calc-button {
    width: 100%;
    margin: 0;
    padding: 1vw 0;
    font-size: 1.25em;
    border-radius: 1vw;
  }

  .user-input {
    margin: 1vh auto;
    align-content: center;

  }

  